{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<body>
  <div class="row">
    <aside class="col-12 col-md-3">
      <img src="{% static 'img/author.jpg' %}" style ="width: 290px; height: 420px; margin-top: 0px;">
    </aside>
    <article class="col-12 col-md-9">
      <h1>Привет, я автор</h1>
      <p>
        Рада приветствовать вас на нашем сайте!<br/> Меня зовут Ольга и я являюсь автором данного сайта. Я не всегда была программистом. Более 11-ти лет я проработала в банковской сфере и стала задумываться о том, что в профессиональном плане хочу чего-то нового. Так я начала поиски себя. Зная, что в школе и институте лучше всего мне давалась математика, и, имея высшее экономическое образование, мой выбор пал на программирование. Пройдя тестирование, а в какое же направление в программирование мне пойти, мой выбор пал на изучение языка программирования Python. Так начался мой новый увлекательный путь.
      </p>
      <p>
        Этот сайт – мой дебютный проект в качестве Python-разработчика, прошу не судить строго.
      </p>
      <p>
        Желаю вам приятного времяпровождения на сайте социальной сети Yatube!
      </p>
      <hr>
      P.S. Больше обо мне можно узнать здесь:
      <br><a target="_blank" href="https://www.instagram.com/lellyta/?hl=ru"> Мой инстаграм</a>
      <br><a target="_blank" href="https://t.me/Lellittaa">Мой Telegram-канал</a>
    </article>
  </div>
</body>
{% endblock %}
