{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею:</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <p></p>
      <img src="{% static 'img/python.jpg' %}" style ="width: 100px; height: 100px; margin-top: 0px;"> 
      <p></p>
      <img src="{% static 'img/django.png' %}" style ="width: 100px; height: 100px; margin-top: 0px;">
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Основные технологии, которые применялись для <b><i>backend-разработки сайта</b></i> или попросту говоря, это то, что скрыто от глаз пользователя и происходит вне его браузера и компьютера – это язык программирования Python и фреймворк Django.<br/>
      <b>Python</b> — это язык программирования, который широко используется в интернет-приложениях, разработке программного обеспечения, науке о данных и машинном обучении (ML). Разработчики используют Python, потому что он эффективен, прост в изучении и работает на разных платформах.<br/>
      <b>Django</b> — это высокоуровневый Python веб-фреймворк, который позволяет быстро создавать безопасные и поддерживаемые веб-сайты.<br/>
    </p>
    <p>
      Для <b><i>frontend-разработки сайта</b></i> или для той самой составляющей программирования, которую считывает система браузера, а также демонстрирует (запускает) на странице для просмотра пользователя – CSS и HTML.<br/>
      <b>CSS</b> (от англ. Cascading Style Sheets ) - это каскадные таблицы стилей. Этот язык разметки определяет, как <b>HTML</b>-элементы (от англ. Hypertext Markup Language) веб-сайта должны отображаться на интерфейсе страницы. Если HTML - это гипсокартон, CSS - это краска. В то время как HTML является основной структурой вашего сайта, CSS - это то, что дает всему вашему сайту стиль.
    </p>
    <p>
      Также при создании данного сайта использовались и другие инструменты такие, как SQL, Bootstrap и др. 
    </p>
  </article>
</div>
{% endblock %}